.div-background {
    background-image: url('https://soninhafdarbilly.webnode.com.br/_files/200002480-b6106b70a4/Rio1.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
