{% extends 'base.html' %}

{% block content %}
        <div class="cabecario" height="80px" width="1200px" >
            <a href="{% url 'people_new' %}" class="top-menu">Nova Pessoa</a>
        </div>
    {% for people in peoples %}
        <div class="post">
            <div class="date">
                <p>
                <h1><a href="{% url 'people_detail' pk=people.pk %}">{{ people.name }}</a></h1>
                </p>

                <a href="{% url 'people_edit' pk=people.pk %}">Editar</a>

            </div>

        </div>
    {% endfor %}
{% endblock %}
